
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<kafa>
    <meta karakter kümesi="utf-8">
    <meta name="viewport" content="width=cihaz genişliği, ilk ölçek=1">
    <meta http-equiv="x-ua-uyumlu" content="ie=edge">
    <title>AdminLTE 3 | Gösterge Tablosu 3</title>
    <!-- Harika Yazı Tipi Simgeleri -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- İyon Simgeleri -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tema stili -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Yazı Tipi: Kaynak Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    </head>
    <!--
    GÖVDE ETİKETİ SEÇENEKLERİ:
    =================
    Gövde etiketine aşağıdaki sınıflardan birini veya birkaçını uygulayın
    istenen etkiyi elde etmek için
    |------------------------------------------------- --------|
    |YERLEŞİM SEÇENEKLERİ | kenar çubuğu-daraltma |
    | | kenar çubuğu-mini |
    |------------------------------------------------- --------|
    -->
    <body class="hold-transition-flip-mini">
        <div class="wrapper">
            <!-- Gezinme çubuğu -->
            <!-- /.navbar -->
            <!-- Ana Kenar Çubuğu Kabı -->
            <aside class="main-sidebar sidebar height-4">
                <!-- Marka Logosu -->
                <a href="index3.html" class="brand-link">
                    <img src="~/AdminLTE-3.0.4/dist/img/AdminLTELogo.png" alt="AdminLTE Logosu" class="brand-image img-circle height-3"
                         style="opacity: .8">
                    <span class="brand-text font-weight-light">AdminLTE 3</span>
                </a>
                <!-- Kenar çubuğu -->
                <div class="sidebar">
                    <!-- Kenar çubuğu kullanıcı paneli (isteğe bağlı) -->
                    <div class="kullanıcı paneli mt-3 pb-3 mb-3 d-flex">
                        <div class="resim">
                            <img src="~/AdminLTE-3.0.4/dist/img/user2-160x160.jpg" class="img-circle height-2" alt="Kullanıcı Resmi">
                        </div>
                        <div class="bilgi">
                            <a href="#" class="d-block">Esra Nur Palut </a>
                        </div>
                    </div>
                    <!-- Sidebar Menü -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column " data-widget="treeview" role="menu" data-accordion="false">
                            <!-- .nav-icon sınıfını kullanarak bağlantılara simgeler ekleyin
                            font-awesome veya başka bir simge font kitaplığı ile -->
                            <li class="nav-item has-treeview menu-open">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Kategoriler
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Heading/Index/" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        Başlıklar
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Yazarlar
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-chart-pie"></i>
                                    <p>
                                        Grafikler
                                        <i class="sağ fas fa-açı-sol"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-ağaç görünümü">
                                    <li class="nav-item">
                                        <a href="pages/charts/chartjs.html" class="nav-link">
                                            <i class="far fa-daire gezinme simgesi"></i>
                                            <p>Grafik 1</p>
                                        </a>
                                    </li>
                                    <li class="onav-item">
                                        <a href="pages/charts/flot.html" class="nav-link">
                                            <i class="far fa-daire gezinme simgesi"></i>
                                            <p>Grafik 2</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pages/charts/inline.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Grafik 3</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-tree"></i>
                                    <p>
                                        Hakkımızda
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-edit"></i>
                                    <p>
                                        İletişim & Mesajlar
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-table"></i>
                                    <p>
                                        Yazılar
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="pages/calendar.html" class="nav-link">
                                    <i class="nav-icon fas fa-calendar-alt"></i>
                                    <p>
                                        Yetkilendirmeler
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="pages/gallery.html" class="nav-link">
                                    <i class="nav-icon far fa-image"></i>
                                    <p>
                                        Galeri
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon far fa-envelope"></i>
                                    <p>
                                        Hata Sayfaları
                                        <i class="fas fa-angle-left-right"></i>
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-book"></i>
                                    <p>
                                        Siteye Git
                                    </p>
                                </a>

                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-apple-alt"></i>
                                    <p>
                                        Çıkış ap
                                    </p>
                                </a>

                            </li>
                        </ul>
                    </nav>
                    <!-- /.sidebar-menüsü -->
                </div>
                <!-- /.kenar çubuğu -->
                </yan>
                <!-- İçerik Sarmalayıcı. Sayfa içeriği içerir -->
                <div class="içerik sarmalayıcı">
                    <!-- Ana içerik -->
                    <div class="içerik">
                        @RenderBody()
                        <!-- /.container-fluid -->
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.content-wrapper -->
        </div>
        <!-- ./wrapper -->
        <!-- GEREKLİ Scriptler -->
        <!-- jQuery -->
        <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
        <!-- Önyükleme -->
        <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE -->
        <script src="~/AdminLTE-3.0.4/dist/js/adminlte.js"></script>
        <!-- İSTEĞE BAĞLI Scriptler -->
        <script src="~/AdminLTE-3.0.4/plugins/chart.js/Chart.min.js"></script>
        <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
        <script src="~/AdminLTE-3.0.4/dist/js/pages/dashboard3.js"></script>
    </body>
</html>