@using EntityLayer1.Concrete
@model List<Writer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br /> 
<table class=" table table-bordered">
    <tr>
        <td>ID</td>
        <td>Yazar Adı</td>
        <td>Yazar Soyadı</td>
        <td>Mail</td>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.WriterID</td>
    <td>@item.WriterName</td>
    <td>@item.WriterSurName</td>
    <td>@item.WriterMail</td>

</tr>
    }
</table>

